html {
    background-color: #efefef;
}

body {
    background: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    src: url('SourceSansPro-Regular.otf');
    color: #3f3f3f;
    position: absolute;
    height: 100%;
}

.logo {
    background-image: url('./../images/HG_logo_white-400x400.png') no-repeat;
    margin: 0 auto;
    float: none;
    height: 35vh;/*24em; 48%;*/
    margin-bottom: 45px;    
}

.shadow {
    -webkit-box-shadow: 0px -16px 65px 21px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -16px 65px 21px rgba(0,0,0,0.75);
    box-shadow: 0px -16px 65px 21px rgba(0,0,0,0.75);
}

.page-container {
    height: 100%;
    width: 100%;
    width: 100vw;
    display: block;
    background: url('./../images/building_blur.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.pane {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
}

.upper-third {
    position: relative;
    height: 70%;
    vertical-align: bottom;
    z-index: 10;
    text-align: center;
}

.upper-third img {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}

.lower-third {
    position: relative;
    height: 30%;
    vertical-align: middle;
    background-color: #efefef;
    background-image: url('./../images/dotted-world-light.png');
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: left center;
    vertical-align: middle;
}

.upper-header {
    text-align: left;
}

.date {
    padding: 60px 100px;
    font-size: 2.25vw;
    color: #fff;
    display: inline-block;
    opacity: 0.5;
}

.bx-wrapper {
    -moz-box-shadow: 0 0 0px #ccc;
    -webkit-box-shadow: 0 0 0px #ccc;
    box-shadow: 0 0 0px #ccc;
    border: none;
    background: none;
    margin-bottom: 0px;
    padding-top: 40px;
}

.title {
    margin-bottom: 0;
    font-size: 7.05vw;
    font-weight: bolder;
    line-height: 0.8em;
}

.subtitle {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 2.75vw;
    font-weight: 200;
}

.web-address {
    left: 0;
    right: 0;
    bottom: 0;
    vertical-align: bottom;
    font-size: 2vw;
    font-weight: 100;
}

.blue {
    color: #0288d1;
}